@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(Styles/header.css);
@import url(Styles/banner_pesquisa.css);
@import url(Styles/carrossel.css);
@import url(Styles/cartoes.css);
@import url(Styles/banner_topicos.css);
@import url(Styles/topicos_visitados.css);
@import url(Styles/inscricao_news.css);
@import url(Styles/footer.css);

:root {
    --cor_cinza: #C4C4C4;
    --cor_branco: #FFFFFF;
    --cor_laranja: #EB9B00;
    --cor_azul_pretroleo: #002F52;
    --cor_azul_gradiente: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --font_principal: "Poppins", sans-serif;
    --font_titulo_header: "Josefin Sans", sans-serif;
}

body {
    background-color: var(--cor_cinza);
    font-family: var(--font_principal);
    font-size: 1em;
}