.banner {
    text-align: center;
    background: var(--cor_azul_gradiente);
    padding: 2.5em 2em;
}
.banner_titulo {
    color: var(--cor_branco);
    font-size: 1.12em;
    font-weight: 700;
}
.banner_conteudo {
    color: var(--cor_branco);
    font-size: 1em;
    font-weight: 500;
    padding: 1em;
    line-height: 1.5em;
}
.banner_pesquisa {
    border-radius: 1.5em;
    border: 1px solid var(--cor_branco);
    color: var(--cor_branco);
    font-size: 0.90em;
    padding: 0.63em 1.5em;
    width: 90%;
    background-color: transparent;
}

.banner_pesquisa::placeholder {
    font-size: 0.9em;
    text-align: center;
    color: var(--cor_branco);
    font-family: var(--font_principal);
    background: url("../Assets/Lupa.svg") no-repeat;
    background-position: 1em;
}
