.header {
    background-color: var(--cor_branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container_menu_hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../Assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.container_imagem {
    padding: 1em;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 75%;
    width: 60%;
    list-style: none;
}

.lista_menu_titulo {
    color: var(--cor_laranja);
    font-weight: 700;
    font-size: 1em;
}

.lista_menu_item, .lista_menu_titulo {
    background-color: var(--cor_branco);
    padding: 1em;
}

.lista_menu_item {
    text-transform: uppercase;
}

.lista_menu_link {
    font-size: 1em;
    background: var(--cor_azul_gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.checkbox:checked ~ .lista_menu {
    display: block;
}

.checkbox {
    display: none;
}

.titulo_menu {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
   
    .titulo_menu, .titulo_menu_negrito {
        font-family: var(--font_titulo_header);
        font-size: 30px;
        color: black;
    }
   
    .titulo_menu {
        font-weight: 400;
        display: block;
        padding: 0.2em 0 0 0.5em;
    }

    .titulo_menu_negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }

    .opcoes_item {
        padding: 0 1.5em;
        text-transform: uppercase;
        text-decoration: none;
    }

    .opcoes_links {
        text-decoration: none;
        color: black;
    }
    
    .container_imagem {
        display: none;
    }

    .logo_alurabooks {
        padding-left: 4.5em;
    }

    .opcoes_imagem {
        padding: 0 3em 0 2em;
    }

    .checkbox:checked ~ .lista_menu_op {
        display: block;
    }

    .lista_menu_op{
        display: none;
        position:absolute;
        top: 100%;
        width: auto;
        list-style: none;
    }

    .checkbox:checked ~ .lista_menu {
        display: none;
    }
}